<!-- home.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>Welcome to My E-Commerce Site</h2>
  <h3>Featured Products</h3>
  <ul>
    {% for product in products %}
      <li>
        {% if product.image %}
          <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100" height="100">
        {% else %}
          <p>No Image Available</p>
        {% endif %}
        <p>{{ product.name }} - {{ product.price }}</p>
        <p>{{ product.description }}</p>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
