/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #3a7377;
    margin: 0;
    padding: 0;
}
list {
    color: #dad5d5;
}
.login-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    
}

h2 {
    text-align: center;
    color: #f8f7f7;
}

form {
    display: flex;
    flex-direction: column;
    margin-right:500px;
    margin-left:500px
}

label {
    margin-bottom: 8px;
    color: #f8f7f7;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #3a3a3a;
    border-radius: 4px;
    box-sizing: border-box;
    width: 300px;
    height: 40px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 300px;
    height: 40px;
}



button:hover {
    background-color: #0056b3;
}

ul {
    color: rgb(247, 243, 243);  
    
}
.error-message {
    color: red; 
    font-weight: bold;
}
p{
    color: rgb(247, 243, 243);  
    
}
header{
    color: #f8f7f7;
}
ul {
  list-style-type: none;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
   
  }
/* styling home page */

  .product-container{
    display: flex;
    flex-direction: column;
    width: 300px; 
    height: 400px;
    background-color: #259ca5;
    margin: 5px;
    padding: 10px;
    border-radius: 16px;
   
  }
  .product-container img{
    height: 150px;
    border-radius: 16px;
    
    
  }
  */
  
  .product-details-container{
    display: flex;
    flex-direction: column;
   
    
    
  }
 


.navbar {
    background-color:  #2eacb3;
    padding: 10px 0;
  }
  
  .search-wrapper {
    position: relative;
    /* right: 238px; */
    margin: 10px;
  }
  
  .overlay select {
    position: absolute;

    top: 0;
    right: 318px;
    height: 40px;
    border: 1px solid #3a3a3a;
    /* border-radius: 4px; */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .logo{
    position:absolute;
    bottom: 0px ;
    right:675px;

  }
  .cart-icon{
    position: absolute;
    bottom: 10px ;
    left: 700px;
    color: #fcfafa;

  }
.cart-item-count{
  position: absolute;
  bottom: 32px;
  right: 7px;
}
.account-icon{
  position: absolute;
  bottom: 10px ;
  left: 765px;
  color: #fcfafa;

}
/* styling search input */
  .search-wrapper input{
   
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  /* styling search button */
  .search-wrapper button {
 
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    border: 1px solid #3a3a3a;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 60px;
    
  }


/* Apply styles to edit and remove links */
a {
  color:  #f8f7f7;
  text-decoration: none;
  margin-right: 10px;
}

a:hover {
  text-decoration: underline;
}
/* styling product_detail  template*/
.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #259ca5;
  padding: 10px;
  width: 600px;
  margin-top: 20px;
  margin-left: 300px;
  margin-right: 300px;
  border-radius: 16px;
  
}
.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #259ca5;
  padding: 10px;
  width: 600px;
  margin-left: 450px;
  margin-right: 450px;
  border-radius: 16px;
  
}

.product-info {
  margin-bottom: 20px;
  text-align: center;
  
  width: 300px;
}

/* styling product_detail template */

.product-detail img{
  height: 300px;
  width: 300px;

 
}
/* styling register template */
.registration-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #259ca5;
  /* padding: 10px; */
  width: 600px;
  margin-left: 450px;
  margin-right: 450px;
  border-radius: 16px;
  max-width: 400px;
  margin: 50px auto;
 
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* styling edit_item_item template */
.edit-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #259ca5;
  /* padding: 10px; */
  width: 600px;
  margin-left: 450px;
  margin-right: 450px;
  border-radius: 16px;
  max-width: 400px;
  margin: 50px auto;
 
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
  
}

/* Add this CSS styles the Cart template */
.cart-items {
  display: flex;
  flex-direction: column;
   border-radius: 16px;
   padding: 10px;
   
}

.cart-item {
  margin-top: 10px;
  padding: 10px;
  background-color: #259ca5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #ccc; */
 
  border-radius: 16px;
}
.cart-item img{
  width: 200px;
  height: 200px;
}
.item-details-and-actions{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  /* background-color: #f01616; */

}
.item-details {
 

  flex-grow: 1;
  /* background-color: #dad5d5; */
}

.item-actions {
  display: flex;
  flex-direction: row; 
  /* background-color: blue; */
  /* padding-left: 100px;
  padding-right: 100px; */
}
/* .item-actions a {
  margin-right: 0px;
} */
.remove-form{
  padding: 0px;
 
}
.remove-btn {
  margin-left: 10px; 
  width: 70px;
 
}
.total-price {
  margin-top: 20px;
}
/* css for dropdown menu  for account*/
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  display: block;
  padding: 10px; 
  color: #333; 
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}
