/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #3f6a6d;
    margin: 0;
    padding: 0;
}
list {
    color: #dad5d5;
}
.login-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #f8f7f7;
}

form {
    display: flex;
    flex-direction: column;
    margin-right:500px;
    margin-left:500px
}

label {
    margin-bottom: 8px;
    color: #f8f7f7;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

button:hover {
    background-color: #0056b3;
}

ul {
    color: rgb(247, 243, 243);  
    
}
.error-message {
    color: red; 
    font-weight: bold;
}
p{
    color: rgb(247, 243, 243);  
    
}
header{
    color: #f8f7f7;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-container{
    display: flex;
    flex-direction: column;
  }
  .image-navigation-buttons-container {
    
    /* background-color: #546869;; */
    width: 100%; 
    height: 100%;
    display: flex;
    
    justify-content: space-between; 
    align-items: center; 
    margin: 10px 0;
    
  }
  
  .product-details-container{
    display: flex;
    flex-direction: column;
    
    
  }
  .product-container img {
    max-width: 100%;
    height: 300px; 
  }
  .navigation-btn {
    background-color: #ccc;
    padding: 10px;
    border: none; 
    cursor: pointer; 
  }

.navbar {
    background-color:  #2eacb3;
    padding: 10px 0;
  }
  
  .search-wrapper {
    position: relative;
  }
  
  .overlay select {
    position: absolute;
    top: 0;
    right: 318px;
    height: 41px;
   
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .cart-icon{
    position: absolute;
    bottom: 10px ;
    left: 400px;
    color: #fcfafa;

  }
.cart-item-count{
  position: absolute;
  bottom: 32px;
  right: 7px;
}
  .search-wrapper input{
   
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .search-wrapper button {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }


/* Apply styles to edit and remove links */
a {
  color:  #f8f7f7;
  text-decoration: none;
  margin-right: 10px;
}

a:hover {
  text-decoration: underline;
}

.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-info {
  margin-bottom: 20px;
  text-align: center; /* Adjust as needed */
}
.product-image {
  margin-left: 20px; /* Adjust the margin as needed */
}
.form-container {
  margin-left: 20px; /* Adjust the margin as needed */
}
.product-detail img{
  height: 200px;

 
}
/* Add this CSS styles the Cart template */
.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-item {
  margin: 10px;
  background-color: #757777;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #ccc; */
  padding: 10px 0;
}
.cart-item img{
  width: 200px;
}
.item-details-and-actions{
  display: flex;
    flex-direction: column;
}
.item-details {
  margin: 50px;

  flex-grow: 1;
}

.item-actions {
  display: flex;
  flex-direction: row; 
}
.item-actions a {
  margin-right: 0px;
}
.remove-form{
  padding: 0px;
 
}
.remove-btn {
  margin: 0px; 
 
}
.total-price {
  margin-top: 20px;
}
