{% extends 'base.html' %} {% block content %} {% block dynamic_content %}
<h2>Your Shopping Cart</h2>
<div class="cart-items">
  {% if cart_items %} {% for cart_item in cart_items %}
  <div class="cart-item">
    <div>
      <h2>{{ cart_item.product.name }}</h2>
      <img src="{{cart_item.product.image.url}}" />
    </div>
    <div class="item-details-and-actions">
      <div class="item-details">
        <p>Price: ${{ cart_item.product.price }}</p>
        <p>Quantity: {{ cart_item.quantity }}</p>
        <p>Total: ${{ cart_item.total_price }}</p>
        <p>Description:{{ cart_item.product.description }}</p>
      </div>
      <div class="item-actions">
        <a href="{% url 'edit_cart_item' cart_item.id %}">Edit</a>
        <form
          action="{% url 'remove_from_cart' cart_item.id %}"
          class="remove-form"
          method="post"
        >
          {% csrf_token %}
          <button type="submit" class="remove-btn">Remove</button>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
  <p class="total-price">Total Price: ${{ total_price }}</p>

  <form action="{% url 'shipping_address' %}" method="get">
    <button type="submit" class=shipping-address">Proceed to Checkout</button>
  </form>
  {% else %}
  <p>Your cart is empty.</p>
  {% endif %}
</div>
{% endblock %} {% endblock %}
