{% extends 'base.html' %} {% block content %}
<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="#">habeshaE</a>

    <!-- Search form -->
    <form class="form-inline" action="{% url 'home' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="search_performed" value="true" />
      <div class="search-wrapper">
        <input
          class="form-control mr-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="keyword"
          id="search-input"
        />
        <div class="overlay">
          <select
            class="form-control mr-2"
            id="category-select"
            name="category"
          >
            <option value="">All Categories</option>
            {% for category in categories %}
            <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
          </select>
        </div>
        <button class="btn btn-outline-success" type="submit">Search</button>
        {% comment %} shopping cart icon {% endcomment %}
        <a href="{% url 'cart' %}" class="cart-icon">
          <span class="cart-item-count">{{ total_cart_items }}</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          width="40"
          height="40"
         
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
          />
         
      </a>
        </svg>
      </div>
    </form>
    
  </div>
</nav>
<div class="content-container">
{% if cart_content %}
  <!-- Render cart.html content within content-container -->
    {% include 'cart.html' %}
{% else %}
    {% if search_performed %}
    <h2>Search Results</h2>
   {% else %}
 <h2>All Products</h2>
  {% endif %}

    <ul>
  {% for product in products %}
  <li>
    <div class="product-container">
      <a href="{% url 'product_detail' product.id %}">
        <div class="product-details-container">
          <h3>{{ product.name }}</h3>
          <p>Price: ${{ product.price}}</p>
          <p>{{ product.description }}</p>
        </div>
      </a>
      <div class="image-navigation-buttons-container">
        <button class="navigation-btn" onclick="navigate('prev')">
          <h1>&lt;</h1>
        </button>
        <a href="{% url 'product_detail' product.id %}">
          <img src="{{ product.image.url }}" alt="Uploaded Image" />
        </a>

        <button class="navigation-btn" onclick="navigate('next')">
          <h1>&gt;</h1>
        </button>
      </div>
    </div>
    
  </li>
  {% empty %}
  <li>No images uploaded yet.</li>
  {% endfor %}
 </ul>
{% endif %}
</div>
<script>
  let currentIndex = 0;

  showProduct(currentIndex);

  function navigate(direction) {
    const products = document.querySelectorAll(".product-container");

    if (direction === "prev") {
      currentIndex = (currentIndex - 1 + products.length) % products.length;
    } else {
      currentIndex = (currentIndex + 1) % products.length;
    }

    showProduct(currentIndex);
  }

  function showProduct(index) {
    const products = document.querySelectorAll(".product-container");

    products.forEach((product) => {
      product.style.display = "none";
    });

    products[index].style.display = "flex";
  }
  
</script>
{% endblock %}
